/* Add this to your CSS file or style block */

.app-header {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid lightgray;
  padding-top: 0%;
}

.logo {
  width: 10%;
  max-height: 100px;
  margin-left: 0;
}

.search-bar {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display:flex;
  background-color: #f1f3f4;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 10px;
 
}
.activity-search,
.location-search {
  position: relative;
  margin-right: 10px;
}
.geolocation-search-bar {
  position: absolute;
  top: 100%; /* Position it below the search bar */
  right: 0;
  z-index: 2; /* Ensure it appears on top of other elements */
  background-color: white;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 5px;
  width: 100px; /* Adjust the width as needed */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



.search-box {
  display: flex;
  align-items: center;
}

.search-icon {
  margin-right: 10px;
  /* Adjust the margin as needed */
}

.search-icon svg {
  width: 22px;
  /* Set the width of the SVG to match its original size */
  height: 22px;
  /* Set the height of the SVG to match its original size */
}



input {

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  outline: none;
  background: none;
  width: 200px;
  /* Adjust as needed */
  padding: 5px;
}

.header-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-bottom: 15px;
}

.header-button {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
}

.red-button {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
}

/* Vertical Filter Buttons */
.filter-button {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 15px;
  /* Adjust as needed */
  color: black;
  padding: 8px 16px;
  /* Adjust as needed */
  margin-top: 10px;
  margin-bottom: 8px;
  /* Adjust as needed */
  margin-left: 10px;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.filter-button:hover {
  background-color: #f0f0f0;
  /* Adjust as needed */
  box-shadow: #5f6368;
  border: 1px solid red;
}

.filter-controls {
  border-top: 1px solid lightgray;
}

.filter-clear-button {
  padding: 5px;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 5px;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.filter-done-button {
  padding: 5px;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 5px;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Activities Filter */
.activities-filter {
  display:block;
  position: absolute;
  top: 115px; /* Position below the Activities button */
  left: 15px;
  z-index: 2; /* Ensure it appears on top of the grid */
  background-color: white;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 5px;
  margin-top: 8px;
  margin-right: 15px;
  width: fit-content;
  box-shadow: #5f6368;
 
}

.activity-options {
  display: flex;
  flex-wrap: wrap;
}

.activity-options label {
  display: flex;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 10px;
  font-size: 8;
}

.activity-options input[type="checkbox"] {
  width: 15px;
  height: 15px;
  border: 1px solid red;
  border-radius: 5px;
  margin-right: 8px;
  cursor: pointer;
}

.activity-options input[type="checkbox"]:checked {
  background-color: red;
  border-color: red;
  color: white;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.dashboard-container {
  display: flex;
  height: 100vh;
}

.grid {
  width: 50%;
  height: 100%;
  margin-left: 5px;
  /* Adjust as needed */
  overflow: hidden;
}

.map {
  width: 50%;
  height: 100vh;
  margin-right: 5px;
  /* Adjust as needed */
  overflow: hidden;
}

/* Add this to your CSS file or component */
.data-grid-row:hover,
.data-grid-row:focus {
  outline: none;
}